@charset "utf-8";
@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot') format('embedded-opentype'),
         url('../fonts/SegoeUI.woff2') format('woff2'),
         url('../fonts/SegoeUI.woff') format('woff'),
         url('../fonts/SegoeUI.ttf') format('truetype'),
         url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
}
/* CSS Document */
p { font-size: 15px; word-break: normal; margin-bottom: 10px; line-height:21px;}
h1, h2, h3, h4, h5,h6 { color:#4c5c69; font-weight: 500; margin-bottom: 15px;}
a { text-decoration: none; cursor: pointer; }
ul { list-style: none; padding: 0; margin: 0; }
img { max-width: 100%; }
body { margin:0; padding:0;  font-size:15px; color:#45494c; font-family: 'SegoeUI';}
.clearfix { clear:both;}
.container { max-width:1250px; }
/* Header section css start */
.header-sec { position: relative; width: 100%; background: #fbfbfb; padding: 7px 0; }
.header-sec .logo { position: relative; width: 100%; }
.header-sec .logo img { max-width: 200px; }
.header-sec .right-nav { position:relative; width: 100%; text-align:right; }
.header-sec .right-nav ul { list-style: none; margin: 0; margin-top: 13px; padding: 0;}
.header-sec .right-nav ul li { display: inline-block; margin-right:20px; }
.header-sec .right-nav ul li:last-child { margin-right: 0; }
.header-sec .right-nav ul li a { text-decoration: none; color: #000; }
.header-sec .right-nav ul li:nth-child(1) a { padding: 5px 10px; border-radius: 2px; background: #fa364e; color:  #fff; }
.header-sec .right-nav .dropdown { position: relative; }
.header-sec .right-nav .dropdown button { background:none; border: none; border-radius: 100px; border: 1px solid #1985a1; padding: 0; line-height: 0; }
.header-sec .right-nav .dropdown button:focus { box-shadow: none; outline:none; }
.header-sec .dropdown button img { width:35px; height:35px; }
.header-sec .dropdown .dropdown-toggle::after { display: none; }
.header-sec .dropdown ul.dropdown-menu { width: 150px; transform: translate3d(-100px, 0px, 0px) !important; margin-top: 40px; border-radius: 0; padding: 5px; }
.header-sec .dropdown ul.dropdown-menu li { display: block; margin: 0; }
.header-sec .dropdown ul.dropdown-menu li a { display: block; padding: 5px; background: #e5e5e5; font-size: 13px; margin-bottom:2px; color: #000; }
.header-sec .dropdown ul.dropdown-menu li a:hover { background: #1985a1; color: #fff; }
.header-sec .dropdown ul.dropdown-menu li:last-child a { margin: 0; }

/* Header section css end */
/* Search section css start */
.serach-sec { position: relative; padding:50px 0; background: #e5e5e5; }
.serach-sec form { max-width: 768px; margin: 0 auto; display: block; }
.serach-sec form select { padding: 5px 7px; min-height: 35px; border-radius:3px; border: 1px solid #bababa; width: 100%; cursor: pointer; }
.serach-sec form select:focus { box-shadow: none; outline: none; border-color: #1985a1; }
.serach-sec form button { padding: 5px 7px; min-height: 35px; border-radius:3px; background: #1985a1; border: none; color: #fff; width: 100%; }
.serach-sec form button:focus { box-shadow: none; outline: none; }
.serach-sec form button:hover { background:#fa364e;  }
/* Search section css send */
 /* Category sec start */
 .category-sec { position: relative; width: 100%; margin: 40px 0; }
 .category-sec .category-heading { position: relative; text-align: center;  }
 .category-sec .category-heading h1 { font-size: 24px; font-weight: 600; }
 .category-sec .slider-box { position: relative; margin: 25px 0; }
 .slider-box .slider-overlay { position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.5); }
 .slider-box .caption-text { position: absolute; max-width:700px; top:30%; margin: 0 auto; text-align: center; display: block; left: 0; right: 0; }
  .slider-box .caption-text h2 { color: #fff; font-size: 22px; font-weight: 600; margin-bottom:15px; } 
  .slider-box .caption-text p  { color: #fff; font-size:17px; line-height: 25px }
   .slider-box .caption-text a { padding: 5px 10px; border-radius: 2px; background: #fa364e; color:  #fff; text-decoration: none; margin-top:15px; display: inline-block; }
 /* Category sec end */
/* Cat city sec css start */
.cat-city-row { position: relative; width: 100%; }
.cat-city-row .cat-city-box { position: relative; width: 100%; text-align: center; margin-bottom:35px;  }
.cat-city-row .cat-city-box a { padding:60px 20px; background: #1985a1; display: block; text-decoration: none; border-radius:5px; outline: 1px solid #fff; outline-offset: -15px; color: #fff; min-height: 200px; } 
.cat-city-row .cat-city-box a:hover { background: #fa364e; }
.cat-city-row .cat-city-box h3 { color: #fff; font-size:30px; margin: 0; line-height: 40px; margin-top: 20px;}
/* Cat city sec css end */
/* Footer section css start */
.footer-sec { position: relative; background:#e5e5e5; padding:50px 0 20px 0; }
.footer-sec .top-section { position: relative; width: 100%; text-align: center; }
.footer-sec .top-section ul { padding: 0; margin: 0; list-style: none; }
.footer-sec .top-section ul li { display: inline-block; margin-right: 25px; }
.footer-sec .top-section ul li:last-child { margin-right: 0; }
.footer-sec .top-section ul li a { font-size:18px; color: #000; text-decoration: none; }
.footer-sec .top-section ul li a:hover { color: #fa364e; }
.footer-sec .social-nav { position: relative; text-align: center; margin:30px 0; }
.footer-sec .social-nav ul { padding: 0; margin: 0; list-style: none; }
.footer-sec .social-nav ul li { display: inline-block; margin-right: 25px; }
.footer-sec .social-nav ul li:last-child { margin-right: 0; }
.footer-sec .social-nav ul li a { font-size:40px; color: #1985a1; }
.footer-sec .social-nav ul li a:hover { color: #fa364e; }
.footer-sec .footer-btm { position: relative; padding-top:15px;  border-top:1px solid #b6b6b6; text-align: center; }
.footer-sec .footer-btm p { margin: 0; font-size:18px; color: #000; }
/* Footer section css end */

/* Login section css start */
.login-form { max-width:400px; margin: 0 auto; padding:20px 40px 20px 40px; box-shadow: 0 0 3px rgba(0,0,0,0.3); margin-top:40px; margin-bottom:40px; }
.login-form h1 { font-size: 24px; font-weight: 600; padding-bottom:15px; margin-bottom:20px; border-bottom: 1px solid #d8d8d8; }
.login-form form { position: relative; width: 100%; }
.login-form form label { display: block; font-size: 15px; font-weight: 500; margin-bottom: 8px; }
.login-form form input { width: 100%; padding: 5px 7px; min-height: 35px; border: 1px solid #d8d8d8; border-radius: 2px; }
.login-form form input:focus { box-shadow: none; outline:none; }
.login-form form .forgot-pass { text-align: right; }
.login-form form .forgot-pass a { text-decoration: none;  color: #1985a1; }
.login-form form .sbm-btn { position: relative; width: 100%; margin: 15px 0 0 0; }
.login-form form .sbm-btn button { padding:4px 15px; background: #1985a1; border: none; color: #fff; font-size: 18px; border-radius: 2px; width: 100%; }
.login-form form .sbm-btn button:hover { background: #fa364e; }
.login-form  .not-yet { text-align: center; margin-top: 15px; }
.login-form  .not-yet p { margin: 0; }
.login-form  .not-yet a { font-weight: 500; color: #fa364e; text-decoration: none; }
/* Login section css end */

/* signup section css start */
.signup-form { max-width:400px; margin: 0 auto; padding:20px 40px 20px 40px; box-shadow: 0 0 3px rgba(0,0,0,0.3); margin-top:40px; margin-bottom:40px; }
.signup-form h1 { font-size: 24px; font-weight: 600; padding-bottom:15px; margin-bottom:20px; border-bottom: 1px solid #d8d8d8; }
.signup-form form { position: relative; width: 100%; }
.signup-form form label { display: block; font-size: 15px; font-weight: 500; margin-bottom: 8px; }
.signup-form form input { width: 100%; padding: 5px 7px; min-height: 35px; border: 1px solid #d8d8d8; border-radius: 2px; }
.signup-form form input:focus { box-shadow: none; outline:none; }
.signup-form form .form-check { padding-left: 25px; }
.signup-form form .form-check input { width:16px; left:20px; top:-8px; }
.signup-form form .form-check a { text-decoration: none;  color: #fa364e; }

.signup-form form .sbm-btn { position: relative; width: 100%; margin: 15px 0 0 0; }
.signup-form form .sbm-btn button { padding:4px 15px; background: #1985a1; border: none; color: #fff; font-size: 18px; border-radius: 2px; width: 100%; }
.signup-form form .sbm-btn button:hover { background: #fa364e; }
.signup-form .not-yet { text-align: center; margin-top: 15px; }
.signup-form .not-yet p { margin: 0; }
.signup-form .not-yet a { font-weight: 500; color: #fa364e; text-decoration: none; }
/* signup section css end */

/* dashbord sec css start*/
.dasborad-sec { position: relative; width: 100%;margin: 40px 0 20px 0; }
.dasborad-sec .profile-box { position: relative; border-radius: 4px;  box-shadow: 0 0 3px rgba(0,0,0,0.3); margin-bottom:30px; min-height: 210px; }
.dasborad-sec .profile-box h1 { padding:5px 15px; font-size: 23px; font-weight:500; background: #1985a1; color: #fff; margin-bottom: 20px; border-radius: 4px 4px 0 0;}
.profile-box .profile-cnt { padding: 10px; }
.profile-box .profile-cnt ul { border-bottom:1px solid #d8d8d8; width: 100%; display: table; padding-bottom: 16px; }
.profile-box .profile-cnt ul li { width:50%; display: inline-block;  }
.profile-box .profile-cnt ul li:last-child { padding-left: 30px; border-left:1px solid #d8d8d8;  }
.profile-box .profile-cnt p { margin-bottom: 15px; }
.profile-box .profile-cnt p span { display: block; color: #fa364e; }
.profile-box .profile-cnt p a { text-decoration: none; color: #fa364e; font-weight: 500; }
.profile-box .profile-cnt .by-btn { position: relative; margin-top:25px; }
.profile-box .profile-cnt .by-btn a { padding: 5px 10px; border-radius: 2px; background: #fa364e; color:  #fff; text-decoration: none;}
/* dashbord sec css end*/
/* ads-row sec css start*/
.ads-row{ position: relative; width: 100%; margin:40px 0 20px 0; }
.ads-row .nav-tabs .nav-link.active { border-color: #1985a1; background: #1985a1; color: #fff; }
.ads-row .nav-tabs .nav-link { color: #000; }
.ads-row .nav-tabs .nav-link:hover { border-color: #1985a1; background: #1985a1; color: #fff;  }

.ads-row .filter-ads { position: relative; width: 100%; }
.ads-row .filter-ads form { position: relative; width: 100%; }
.ads-row .filter-ads form label { display: block; font-size: 15px; font-weight: 500; margin-bottom: 8px; }
.ads-row .filter-ads form input { width: 100%; padding: 5px 7px; min-height: 35px; border: 1px solid #d8d8d8; border-radius: 2px; }
.ads-row .filter-ads form input:focus { box-shadow: none; outline:none; }
.ads-row .filter-ads form  select { width: 100%; padding: 5px 7px; min-height: 35px; border: 1px solid #d8d8d8; border-radius: 2px; cursor: pointer; }
.ads-row .filter-ads form input:focus { box-shadow: none; outline:none; }
.ads-row .filter-ads form button { padding:4px 15px; background: #1985a1; border: none; color: #fff; font-size: 18px; border-radius: 2px; width: 100%; }
.ads-row .filter-ads form button:hover { background: #fa364e; }
.ads-row .tab-content { margin:15px 0; }

.ads-row .ad-row { position: relative; margin: 20px 0 0 0;}
.ad-row .ad-box-sec { box-shadow: 0 0 2px rgba(0,0,0,0.2); margin-bottom:20px; }
.ad-row .ad-box-sec a { text-decoration: none; display: block; color: #6b6b6b; }
.ad-row .ad-box-sec img { object-fit: cover; object-position: center; width: 100%; height:150px; }
.ad-row .ad-box-sec .ad-box-cnt { position: relative; margin-top: 10px;}
.ad-row .ad-box-sec h3 { font-weight:500; margin-bottom: 10px; font-size: 22px; color: #1985a1; }
.ad-row .ad-box-sec p { margin-bottom: 15px; }
.ad-row .ad-box-sec h6 { font-size: 14px; }
.ad-row .ad-box-sec h6 span { border-right: 1px solid #d8d8d8; padding-right: 5px; margin-right: 5px; font-weight:600; color: #000;  }
/* ads-row sec css end*/

/* Add form section css start */
.add-row { position: relative; max-width: 768px; margin: 0 auto; padding: 20px; box-shadow: 0 0 2px rgba(0,0,0,.3); margin-top: 35px; margin-bottom: 35px; }
.add-row .step-sec { position: relative; width: 100%; margin-bottom: 20px; }
.add-row .first-step { position: relative; }
.add-row .first-step .form-group { margin-bottom: 15px; position: relative; width: 100%; }
.add-row .first-step label { display: block; font-size: 15px; font-weight: 500; margin-bottom: 8px; }
.add-row .first-step input { width: 100%; padding: 5px 7px; min-height: 35px; border: 1px solid #d8d8d8; border-radius: 2px; cursor: pointer; }
.add-row .first-step input:focus { box-shadow: none; outline:none; }
.add-row .first-step select { width: 100%; padding: 5px 7px; min-height: 35px; border: 1px solid #d8d8d8; border-radius: 2px; cursor: pointer; }
.add-row .first-step select:focus { box-shadow: none; outline:none; }
.add-row .first-step textarea { width: 100%; padding: 5px 7px; min-height: 65px; border: 1px solid #d8d8d8; border-radius: 2px; cursor: pointer; resize:none; }
.add-row .first-step textarea:focus { box-shadow: none; outline:none; }
.add-row input.invalid { background-color: #ffdddd; }
.add-row .tab { display: none;}
.add-row form button { background: #1985a1; color: #fff; border: none; padding:5px 25px; font-size: 16px;  cursor: pointer; border: none; border-radius: 2px;}
.add-row form button:focus { box-shadow: none; outline: none; }
.add-row form button:hover { background:#fa364e; }
.add-row #prevBtn { background: #1985a1; }
.add-row #prevBtn:hover { background:#fa364e; }
.add-row .step { margin: 0 2px 0 0; background-color:#1985a1; border: none; display: inline-block; opacity: 0.5; padding:5px 10px; font-size: 16px; font-weight:500; border-radius: 2px; color: #fff;}
.add-row .step.active { opacity: 1;}
.add-row .step.finish { background-color: #fa364e;}
.add-row .first-step .upl-img input[type="file"] { display: block;}
.add-row .first-step .upl-img .imageThumb {  object-fit: cover; object-position: center; width: 100px; height: 100px; border: 1px solid #1985a1; padding: 1px; cursor: pointer;}
.add-row .first-step .upl-img .pip { display: inline-block; margin: 10px 10px 0 0;}
.add-row .first-step .upl-img .remove { display: block; background: #fa364e; border: 1px solid #fa364e; color: #fff; text-align: center; cursor: pointer;}
.add-row .first-step .upl-img .remove:hover { background: white; color: #fa364e;}
.add-row .first-step .form-check { margin-top: 37px; }
.add-row .first-step .form-check input { width:15px; min-height: 15px; }
.add-row .first-step .form-check .fa { color: green; }
.add-row .first-step .form-check.email{ margin:0 0 15px 0; }
.add-row .first-step .form-check a { color: #fa364e; text-decoration: none; }
.add-row .second-step { position: relative; width: 100%; }
.add-row .second-step .form-group { margin-bottom: 15px; position: relative; width: 100%; }
.add-row .second-step label { display: block; font-size: 15px; font-weight: 500; margin-bottom: 8px; }
.add-row .second-step p { width: 100%; padding: 5px 7px; min-height: 35px; border: 1px solid #d8d8d8; border-radius: 2px; cursor: pointer; margin: 0; }
.add-row .second-step p span { background: green; color: #fff; margin-left: 10px; padding: 2px 5px; }
.add-row .second-step .img-sec img { object-fit: cover; object-position: center; width: 100px; height: 100px; border: 1px solid #fa364e; border-radius: 2px; margin: 0 10px 10px 0; }
.add-row .third-step { position: relative; width: 100%; }
.add-row .third-step .common-head { position: relative; width: 100%; margin-bottom: 15px;}
.add-row .third-step .common-head h2 { font-weight: 600; font-size: 22px; margin-bottom: 10px; }
.add-row .third-step .common-head p { font-size: 16px; margin-bottom: 10px; }
.third-step .day-shift { position: relative; width: 100%; margin-bottom: 25px; }
.third-step .day-shift .day-shift-head { position: relative; width: 100%; margin-bottom: 20px; }
.third-step .day-shift-head h3 { position: relative; width: 100%; padding:5px 10px; background: #1985a1; color: #fff; margin: 0; font-size: 16px; font-weight: 600;} 
.third-step .day-shift-box { position: relative; width: 100%; padding: 10px; box-shadow: 0 0 2px rgba(0,0,0,0.3); border-radius: 2px; text-align: center; margin:15px 0; cursor: pointer;}
.third-step .day-shift-box h4 { font-size: 16px; font-weight: 500; color: #1985a1; margin-bottom: 10px; }
.third-step .day-shift-box h5 { font-size: 14px; margin: 0; }
.third-step .day-shift-box p { margin-bottom: 5px;  }
.third-step .day-shift-box p.day { position: relative; top: -23px; margin-bottom: -15px; }
.third-step .day-shift-box p.day .fa { padding: 5px; background: #1985a1;color: #fff; border-radius: 100px; }
.third-step .day-shift-box input { width: 100%; height:100%; top: 0; left: 0; position: absolute; cursor: pointer; opacity: 0;  }
.third-step .day-shift-box.active { border: 1px solid #fa364e; }
.third-step .day-shift .day-time { position: relative; }
.third-step .day-shift .day-time h4 { position: relative; width: 100%; padding:5px 10px; background: #c4c4c4; color: #000; margin: 0; font-size: 16px; font-weight:500;} 
.third-step .day-shift .day-time .time-box { position: relative; width: 100%; padding: 10px; box-shadow: 0 0 2px rgba(0,0,0,0.3); border-radius: 2px; text-align: center; margin:15px 0; cursor: pointer; } 
.third-step .day-shift .day-time .time-box h5 { font-size: 14px; margin: 0; }
.third-step .day-shift .day-time .time-box input { width: 100%; height:100%; top: 0; left: 0; position: absolute; cursor: pointer; opacity: 0;  }
.third-step .day-shift .day-time .time-box.active { border: 1px solid #1985a1; }
.third-step .night-shift { position: relative; width: 100%; margin-bottom: 25px; }
.third-step .night-shift .night-shift-head { position: relative; width: 100%; margin-bottom: 20px; }
.third-step .night-shift-head h3 { position: relative; width: 100%; padding:5px 10px; background: #fa364e; color: #fff; margin: 0; font-size: 16px; font-weight: 600;} 
.third-step .night-shift-box { position: relative; width: 100%; padding: 10px; box-shadow: 0 0 2px rgba(0,0,0,0.3); border-radius: 2px; text-align: center; margin:15px 0; cursor: pointer; background: #000;}
.third-step .night-shift-box h4 { font-size: 16px; font-weight: 500; color: #fff; margin-bottom: 10px; }
.third-step .night-shift-box h5 { font-size: 14px; margin: 0; color: #fff; }
.third-step .night-shift-box p { margin-bottom: 5px; color: #fff;  }
.third-step .night-shift-box p.night { position: relative; top: -23px; margin-bottom: -15px; }
.third-step .night-shift-box p.night .fa { padding: 5px; background: #fa364e;color: #fff; border-radius: 100px; }
.third-step .night-shift-box input { width: 100%; height:100%; top: 0; left: 0; position: absolute; cursor: pointer; opacity: 0;  }
.third-step .night-shift-box.active { border: 2px solid #fa364e; }
.third-step .night-shift .night-time { position: relative; }
.third-step .night-shift .night-time h4 { position: relative; width: 100%; padding:5px 10px; background: #c4c4c4; color: #000; margin: 0; font-size: 16px; font-weight:500;} 
.third-step .night-shift .night-time .time-box { position: relative; width: 100%; padding: 10px; box-shadow: 0 0 2px rgba(0,0,0,0.3); border-radius: 2px; text-align: center; margin:15px 0; cursor: pointer; } 
.third-step .night-shift .night-time .time-box h5 { font-size: 14px; margin: 0; }
.third-step .night-shift .night-time .time-box input { width: 100%; height:100%; top: 0; left: 0; position: absolute; cursor: pointer; opacity: 0;  }
.third-step .night-shift .night-time .time-box.acitve { border: 1px solid #fa364e; }

.fourth-step { position: relative; width: 100%;  }
.fourth-step h2 { padding:7px 10px 10px 10px; color: #fff; background: #1985a1; margin-bottom: 15px; border-radius: 2px; font-size: 24px; }
.fourth-step .forth-header { position: relative; width: 100%; padding: 5px; box-shadow: 0 0 2px rgba(0,0,0,0.2); border-radius: 2px; text-align: center; }
.fourth-step .forth-header h3 { padding-bottom:3px; margin-bottom:5px; background: #fa364e; color: #fff; font-size:16px; }
.fourth-step .forth-header p { margin: 0; font-size: 14px; border: 1px solid #efefef; padding:3px; }
.fourth-step .row-credit { padding:10px; margin: 10px 0; border: 1px solid #efefef; }
.fourth-step .row-credit h3 { margin: 0; font-size: 20px; }
.fourth-step .row-credit h3 span { float: right; color: #1985a1;}
/* Add form section css end */
/* Category section css start */
.cat-section { position: relative; width: 100%; margin:25px 0 40px 0; }
.cat-section .cat-heading { text-align: center; margin-bottom: 35px; }
.cat-section .cat-heading h2 { font-size: 24px; font-weight: 600; }
.cat-section .cat-heading p { font-size: 14px; margin-bottom: 15px; }
.cat-section .cat-sec-box { position: relative; box-shadow: 0 0 2px rgba(0,0,0,0.3); border-radius: 2px; margin-bottom:30px; }
.cat-section .cat-sec-box img { object-fit: cover; object-position: center; width: 100%; height: 250px; border-radius: 2px 2px 0 0; }
.cat-section .cat-sec-box a { text-decoration:none; }
.cat-section .cat-sec-box a:hover h3 { color: #fa364e; }
.cat-section .cat-sec-box .cat-sec-cnt { padding:20px 10px; text-align: center; }
.cat-section .cat-sec-box .cat-sec-cnt h3 { font-size: 20px; font-weight: 600; margin: 0; }

/*  Category section css end */

/* cat list sec start */
.bradcomb-sec { position: relative; width: 100%; margin-top:30px;}
.bradcomb-sec a { padding: 3px 10px; margin-right:5px; border: 1px solid #fa364e; color: #fa364e; text-decoration: none; }
.bradcomb-sec span { padding: 3px 10px; margin-right:5px; border: 1px solid #5f5f5f; color: #5f5f5f; }
.ad-row-list { position: relative; margin:30px 0 40px 0; }
.ad-row-list .ad-box-sec { box-shadow: 0 0 2px rgba(0,0,0,0.2); margin-bottom:20px; }
.ad-row-list .ad-box-sec a { text-decoration: none; display: block; color: #6b6b6b; }
.ad-row-list .ad-box-sec img { object-fit: cover; object-position: center; width: 100%; height:150px; }
.ad-row-list .ad-box-sec .ad-box-cnt { position: relative; margin-top: 10px;}
.ad-row-list .ad-box-sec h3 { font-weight:500; margin-bottom: 10px; font-size: 22px; color: #1985a1; }
.ad-row-list .ad-box-sec p { margin-bottom: 15px; }
.ad-row-list .ad-box-sec h6 { font-size: 14px; }
.ad-row-list .ad-box-sec h6 span { border-right: 1px solid #d8d8d8; padding-right: 5px; margin-right: 5px; font-weight:600; color: #000;  }
/* cat list sec end */
/* Add detail sec start */
.add-detail-sec { position: relative; width: 100%; margin: 20px 0 30px 0; }
.add-detail-sec .add-detail-box { position: relative; width: 100%; }
.add-detail-sec .add-detail-box h1 { font-size: 24px; font-weight: 500; margin-bottom: 15px; }
.add-detail-sec .add-detail-box .button-sec { margin-bottom: 15px;x }
.add-detail-sec .add-detail-box .button-sec button { padding: 5px 10px; background: #1985a1; color: #fff; border: none; border-radius: 2px; margin-right: 10px; }
.add-detail-sec .add-detail-box .button-sec button:focus { outline: none; box-shadow: none;}
.add-detail-sec .add-detail-box .button-sec button.whats { background: #fa364e; }

/* Add detail sec end */

